{% extends 'app/base.html' %}
{% load static %}
{% block title %}Search Results{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            {% if query %}
            <h2>Kết quả tìm kiếm cho "{{ query }}"</h2>

            {% if products %}
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if product.product_image %}
                        <img src="{{ product.product_image.url }}" class="card-img-top" alt="{{ product.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p class="fw-bold">Giá: <span class="price">{{ product.selling_price }}</span>₫</p>
                            <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>Không tìm thấy sản phẩm nào phù hợp với từ khóa "{{ query }}"</p>
            {% endif %}
            {% else %}
            <p>Vui lòng nhập từ khóa để tìm kiếm</p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function formatVND(amount) {
        return amount.toString().split('').reverse().reduce((prev, next, index) => {
            return ((index % 3) ? next : (next + '.')) + prev;
        });
    }

    // Format tất cả các phần tử có class 'price'
    document.querySelectorAll('.price').forEach(element => {
        const price = parseInt(element.textContent);
        element.textContent = formatVND(price);
    });
</script
{% endblock main-content %}