{% extends "app/base.html" %}
{% load static %}
{% block title %}Search Result{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for prod in product %}
                <div class="col-sm-4 text-center mb-4 hover-shadow">
                    <a href="{% url 'product-detail' prod.product.id %}" class="btn">
                        <div>
                            <img src="{{prod.product.product_image.url}}" width="300px" height="200px" />
                            <div class="fw-bold">{{prod.product.title}}</div>
                            <div class="fw-bold text-danger">
                                <span class="price">{{prod.product.discount_price}}</span>
                                <small class="fw-light text-decoration-line-through">
                                    <span class="price">{{prod.product.selling_price}}</span>
                                </small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    // Format tất cả các phần tử có class 'price'
    document.querySelectorAll('.price').forEach(element => {
        const number = parseFloat(element.textContent);
        const formatted = new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND'
        }).format(number);
        element.textContent = formatted;
    });
</script>
{% endblock main-content %}